﻿<div class="cart-page">
    <div class="cart-body">
        <div class="cart-container">
            <div class="cart-title-head">My Cart</div>
            <div class="cart-holder">
                <div class="cart-flex">
                    <div class="cart-product">
                        <div class="cp-item" ng-repeat="ci in CartItems">
                            <div class="d-flex flex-lg-row flex-column">
                                <div class="d-flex" style="flex:1.5;">
                                    <img ng-src="../../Assets/Images/Products/{{ci.image}}" />
                                    <div class="cp-desc">
                                        <div class="cp-name" ng-bind="ci.name"></div>
                                        <div class="cp-price" ng-bind="'$ ' + ci.price"></div>
                                        <div class="cart-discount">
                                            <div class="cart-discount-amount" ng-bind="'$' + '546'"></div>
                                            <div class="cart-discount-percent" ng-bind="'25%'"></div>
                                        </div>
                                        <div class="cp-stock" ng-class="{'sold-out' : ci.stock == 0}" ng-bind="ci.stock > 0 ? ci.stock + ' items available' : 'sold-out'"></div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between my-3" style="flex:1;">
                                    <div class="quantity">
                                        <input type="number" min="1" step="1" value="1">
                                    </div>
                                    <div class="cp-price pt-2" style="color:#333;font-size:14px;" ng-bind="'$ ' + (ci.price * 1)"></div>
                                </div>
                            </div>
                            <div class="cp-remove-itm"><i class="fas fa-trash"></i> Remove</div>
                        </div>
                    </div>
                    <div class="cart-summary">
                        <div class="cs-holder">
                            <div class="cs-title mb-3">Order Summary</div>
                            <div>
                                <div class="cs-info">
                                    <label>Subtotal</label>
                                    <span>$ 924.00</span>
                                </div>
                                <div class="cs-info">
                                    <label>Shipping Fee</label>
                                    <span>$ 0.00</span>
                                </div>
                                <div class="cs-info">
                                    <label>Total</label>
                                    <span style="color:#c0392b;font-size:16px;">$ 924.00</span>
                                </div>
                            </div>
                            <div class="cs-checkout" ng-click="Checkout()"><i class="fas fa-cash-register"></i> Checkout</div>
                        </div>
                    </div>
                </div>
            </div>
            <!--YOU MIGHT ALSO LIKE-->
            <div class="product-title">You might also like</div>
            <div class="row m-0 product-holder" repeat-holder>
                <div class="col-lg-2 col-md-3 col-sm-4 col-6 p-1 d-flex" ng-repeat="r in Products">
                    <div class="product-item wow" elem-load get-interval="($index * .15)" get-animation="'fadeInUp'">
                        <img ng-src="../../Assets/Images/Products/{{r.image}}" />
                        <div class="product-name" ng-bind="r.name" title="{{r.name}}"></div>
                        <div class="product-price" ng-bind="'$' + r.price"></div>
                        <div class="product-discount-h">
                            <div class="product-discount-amount-h" ng-bind="'$' + '546'"></div>
                            <div class="product-discount-percent-h" ng-bind="'25%'"></div>
                        </div>
                        <div class="product-stock" ng-class="{'sold-out' : r.stock == 0}" ng-bind="r.stock > 0 ? r.stock + ' in stock' : 'Sold-out'"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Footer-->
    <div ng-include="'../../Templates/footer.tmpl.html'"></div>
</div>