﻿<div class="panel">
    <div class="panel-heading">
        <label>
            <i ng-if="Icon == 'info'" class="fas fa-info-circle"></i>
            <i ng-if="Icon == 'warning'" style="color:orange !important;" class="fas fa-exclamation-triangle"></i>
            <i ng-if="Icon == 'error'" style="color: red !important;" class="fas fa-times-circle"></i>
            <i ng-if="Icon == 'success'" style="color: #27ae60 !important;" class="fas fa-check-circle"></i>
            {{ Title }}
        </label>
    </div>
    <div class="panel-body">
        <p class="panel-msg">{{ Message }}</p>
    </div>
    <div class="panel-footer">
        <button type="button" class="btn emphasized" ng-click="OK()">OK</button>
    </div>
</div>