﻿.checkout-page {
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;

    .product-title {
        font-size: 25px;
        color: #333;
        margin: 20px 0;
    }

    .cart-body {
        flex: 1;
        display: flex;
        padding: 90px 10px 10px 10px;
    }

    .cart-container {
        display: flex;
        width: 100%;
        max-width: 1200px;
        flex-direction: column;
        margin: auto;
    }

    .cart-title-head {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 20px;
        color: #333;
    }

    .cart-holder {
        padding-top: 10px;
        min-height: 500px;
        border-top: 1px solid #ddd;
        display: flex;
        flex-direction: column;
    }

    .cart-flex {
        flex: 1;
        display: flex;
        position: relative;
        align-items: stretch;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 2px 2px 6px rgba(0,0,0,0.15);
    }

    .cart-product {
        flex: 1;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;

        .cp-item {
            padding: 10px;
            display: flex;
            flex-direction: column;
            border-top: 1px solid #ddd;

            img {
                margin-right: 20px;
                object-fit: contain;
                width: 70px;
                height: 70px;
            }

            .cp-name {
                font-size: 15px;
                font-weight: 500;
                color: #333;
            }

            .cp-price {
                font-weight: bold;
                font-size: 18px;
                color: #c0392b;
            }

            .cp-remove-itm {
                margin-left: auto;
                font-size: 12px;
                font-weight: 500;
                cursor: pointer;
                outline: none;
                color: #2980b9;
            }

            .cart-discount {
                display: flex;
                align-items: center;
                font-weight: 500;
                font-size: 12px;

                .cart-discount-amount {
                    color: #aaa;
                    text-decoration: line-through;
                    margin-right: 10px;
                }

                .cart-discount-percent {
                    color: #333;
                    font-weight: bold;
                }
            }

            .cp-stock {
                color: #aaa;
                font-size: 12px;

                &.sold-out {
                    color: #e74c3c;
                }
            }

            &:first-child {
                border-top: none;
            }
        }
    }

    .cart-summary {
        flex: 1;
        padding: 10px;

        .cs-holder {
            height: 100%;
            display: flex;
            flex-direction: column;

            .cs-title {
                font-size: 18px;
                font-weight: 500;
                color: #333;
            }

            .cs-info {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px 0;
                border-bottom: 1px solid #ddd;

                label {
                    margin: 0;
                    color: #333;
                }

                span {
                    color: #333;
                    font-weight: bold;
                }

                &:last-child {
                    border-bottom: none;
                }
            }

            .cs-checkout {
                width: 100%;
                max-width: 250px;
                padding: 10px;
                color: #fff;
                border-radius: 5px;
                cursor: pointer;
                outline: none;
                box-shadow: 2px 2px 6px rgba(0,0,0,0.15);
                text-align: center;
                font-size: 16px;
                margin: auto auto 0 0;
                margin-top: 10px;
                background-color: $primary-color;

                i {
                    margin-right: 10px;
                }
            }
        }

        .cs-panel {
            padding: 20px;
            background-color: #f6f8fc;
            margin-bottom: 10px;
            border-radius: 5px;
            height: 100%;
        }
    }
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 991px) {
}

@media screen and (max-width: 767px) {
    .checkout-page .cart-flex {
        flex-direction: column !important;
    }

    .checkout-page .cart-title-head {
        font-size: 18px !important;
        margin-bottom: 15px !important;
    }

    .checkout-page .cart-body {
        padding: 80px 10px 10px 10px !important;
    }
}

@media screen and (max-width: 575px) {
    .product-title {
        font-size: 20px !important;
        text-align: center !important;
    }

    .checkout-page .cart-product {
        padding: 10px !important;
    }

    .checkout-page .cart-product .cp-item {
        padding: 10px 0 !important;
    }
    .checkout-page .cart-summary .cs-holder .cs-checkout {
        margin: auto !important;
    }
}
