﻿.home {
    .home-title {
        font-size: 25px;
        color: #333;
        margin: 20px 0;
    }

    .home-name {
        color: $primary-color !important;
    }

    .home-banner {
        display: flex;
        height: 100vh;
        max-height: 500px;
        position: relative;

        .hb-left {
            flex: 1;
            z-index: 1;
            box-shadow: 3px -20px 20px rgba(0,0,0,0.15);
            padding-left: 20px;
            display: flex;
        }

        .hb-right {
            flex: 2;
            padding-right: 20px;
            position: relative;
            display: flex;
        }

        .hb-right-bg {
            position: absolute;
            width: 100%;
            height: 100%;
            background: url(../../Assets/Images/coins_bg.jpg) center center no-repeat;
            background-size: cover;
            background-attachment: fixed;
            filter: grayscale(1) opacity(0.2);
        }

        .hb-right-overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            /*background: rgba(22,160,133,1);
            background: -moz-linear-gradient(-45deg, rgba(22,160,133,1) 0%, rgba(241,196,15,0.5) 100%);
            background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(22,160,133,1)), color-stop(100%, rgba(241,196,15,0.5)));
            background: -webkit-linear-gradient(-45deg, rgba(22,160,133,1) 0%, rgba(241,196,15,0.5) 100%);
            background: -o-linear-gradient(-45deg, rgba(22,160,133,1) 0%, rgba(241,196,15,0.5) 100%);
            background: -ms-linear-gradient(-45deg, rgba(22,160,133,1) 0%, rgba(241,196,15,0.5) 100%);
            background: linear-gradient(135deg, rgba(22,160,133,1) 0%, rgba(241,196,15,0.5) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#16a085', endColorstr='#f1c40f', GradientType=1 );*/
            background: rgba(192,57,43,1);
            background: -moz-linear-gradient(-45deg, rgba(192,57,43,1) 0%, rgba(231,56,39,0.47) 100%);
            background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(192,57,43,1)), color-stop(100%, rgba(231,56,39,0.47)));
            background: -webkit-linear-gradient(-45deg, rgba(192,57,43,1) 0%, rgba(231,56,39,0.47) 100%);
            background: -o-linear-gradient(-45deg, rgba(192,57,43,1) 0%, rgba(231,56,39,0.47) 100%);
            background: -ms-linear-gradient(-45deg, rgba(192,57,43,1) 0%, rgba(231,56,39,0.47) 100%);
            background: linear-gradient(135deg, rgba(192,57,43,1) 0%, rgba(231,56,39,0.47) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0392b', endColorstr='#e73827', GradientType=1 );
            border-bottom-left-radius: 20px;
        }

        .hbr-menu-container {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            height: 100%;
            padding-left: 30px;
            text-transform: uppercase;
            font-size: 13px;
            writing-mode: tb-rl;
            text-orientation: mixed;

            .hbr-menu-item {
                margin-bottom: 50px;
                cursor: pointer;
                opacity: 0.75;

                &:hover {
                    opacity: 1;
                }

                &:last-child {
                    margin: 0;
                }
            }
        }

        .hb-left-content {
            margin: auto 20px auto auto;
            width: 100%;
            max-width: calc((1200px * .3) - 40px);

            h5 {
                color: #555;
                margin: 0 0 5px 0;
                font-weight: bold;
                font-size: 25px;
            }

            button {
                outline: none;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 14px;
                background-color: $secondary-color;
                color: #fff;
                margin-top: 30px;
                padding-bottom: 10px;
                box-shadow: 3px 3px 6px rgba(0,0,0,0.3);
            }
        }

        .hb-right-content {
            flex: 1;
            display: flex;
            align-items: center;
            width: 100%;
            margin-left: 30px;
            padding-right: 30px;
            max-width: calc((1200px * 0.8) - 60px);

            .deal-item {
                height: 150px;
                overflow: hidden;
                position: relative;
                border-radius: 5px;
                padding: 20px;
                cursor: pointer;
                box-shadow: 2px 2px 15px rgba(0,0,0,0.3);

                img {
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    position: absolute;
                    object-position: center;
                    object-fit: cover;
                    transition: transform .5s;
                }

                .deal-overlay {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    opacity: 0.8;
                    background-color: darken($primary-color,30%);
                    transition: all .3s;
                }

                .deal-title {
                    position: relative;
                    color: #fff;
                    justify-content: center;
                    font-size: 20px;
                    font-weight: 500;
                }

                .deal-desc {
                    position: relative;
                    color: #fff;
                    max-width: 80%;
                    opacity: 0.85;
                }

                &:hover {
                    img {
                        transform: scale(1.5);
                        transition: transform 5s;
                    }

                    .deal-overlay {
                        background-color: darken($secondary-color, 20%);
                        transition: all .3s;
                    }
                }
            }
        }

        #crsl {
            width: 100%;
        }
    }

    .our-collection {
        //background-color: rgba(22, 160, 133, 0.3);
        background-color: #fff;
        padding: 20px 20px 40px 20px;

        .collection-item {
            padding: 10px;
            background-color: #fff;
            border-radius: 5px;
            height: 70px;
            width: 100%;
            display: flex;
            cursor: pointer;
            transition: all .3s;

            img {
                margin-right: 10px;
                height: 50px;
                width: 50px;
                object-fit: cover;
                border-radius: 5px;
            }

            .ci-name {
                color: #333;
                font-weight: 500;
            }

            .ci-count {
                font-size: 12px;
                color: #aaa;
            }

            &:hover {
                box-shadow: 2px 2px 6px rgba(0,0,0,0.15);
                transition: all .3s;
            }
        }
    }

    .recommended {
        background-color: #f5f5f5;
        padding: 20px 20px 40px 20px;

        .recommended-item {
            padding: 10px;
            display: flex;
            flex-direction: column;
            border: 1px solid #fff;
            background-color: #fff;
            border-radius: 5px;
            cursor: pointer;
            margin: auto;
            width: 100%;
            max-width: 200px;
            min-height: 320px;
            height: 100%;
            box-shadow: 2px 2px 6px rgba(0,0,0,0.15);
            transition: all .3s;

            img {
                width: 100%;
                height: 150px;
                object-fit: contain;
                margin-bottom: 15px;
            }

            .recommended-name {
                font-weight: 500;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }

            .recommended-price {
                font-size: 16px;
                font-weight: bold;
                color: $primary-color;
            }

            .recommended-discount {
                display: flex;
                align-items: center;
                font-weight: 500;
                font-size: 12px;

                .recommended-discount-amount {
                    color: #aaa;
                    text-decoration: line-through;
                    margin-right: 10px;
                }

                .recommended-discount-percent {
                    color: #333;
                    font-weight: bold;
                }
            }

            .recommended-stock {
                margin-top: auto;
                margin-left: auto;
                font-size: 12px;
                color: #aaa;

                &.sold-out {
                    color: #e74c3c;
                }
            }

            &:hover {
                border: 1px solid $secondary-color;
                transition: all .3s;
            }
        }
    }
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 991px) {
}

@media screen and (max-width: 767px) {
    .home .home-banner .hb-right {
        padding: 0 !important;
    }

    .home .home-banner .hb-right-content {
        padding: 0 20px !important;
        margin: 0 !important;
        max-width: 100vw !important;
    }

    .home .home-banner {
        max-height: 180px !important;
    }

    .home .home-banner #crsl {
        position: absolute !important;
    }

    .home .our-collection {
        padding: 10px !important;
        padding-top: 60px !important;
    }
    .home .home-banner .hb-right-content .deal-item .deal-desc {
        display: -webkit-box !important;
        -webkit-line-clamp: 2 !important;
        -webkit-box-orient: vertical !important;
        overflow: hidden !important;
    }

    .home .recommended .recommended-item {
        max-width: 100% !important;
    }
    .home .home-banner .hb-right-overlay {
        border-bottom-right-radius: 20px !important;
    }
}

@media screen and (max-width: 575px) {
    .home .recommended {
        padding: 0 !important;
    }
    .home .home-title {
        font-size: 20px;
        text-align: center !important;
    }
    .home .home-banner .hb-right-overlay {
        border-bottom-right-radius: 10px !important;
        border-bottom-left-radius: 10px !important;
    }
}