﻿.my-account {
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;

    .product-title {
        font-size: 25px;
        color: #333;
        margin: 20px 0;
    }

    .account-body {
        flex: 1;
        display: flex;
        padding: 90px 10px 10px 10px;
    }

    .account-container {
        display: flex;
        width: 100%;
        max-width: 900px;
        flex-direction: column;
        margin: auto;
    }

    .account-title-head {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 20px;
        color: #333;
    }

    .account-holder {
        padding-top: 10px;
        min-height: 500px;
        border-top: 1px solid #ddd;
        display: flex;
        flex-direction: column;
    }

    .acc-panel {
        height: 100%;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 2px 2px 6px rgba(0,0,0,0.15);
    }

    .lcr-title {
        font-size: 22px;
        color: #333;
        font-weight: bold;
    }

    .save-account-btn {
        margin-top: 20px;
        outline: none;
        border: none;
        color: #fff;
        background-color: $primary-color;
        text-transform: uppercase;
        font-size: 14px;
        padding: 9px 24px;
        box-shadow: 2px 2px 6px rgba(0,0,0,.2);
    }

    .avatar-holder {
        background-color: #f6f8fc;
        padding: 20px 10px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .avatar-initial {
        text-transform: capitalize;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 70px;
        font-size: 22px;
        border-radius: 50%;
        background-color: $secondary-color;
    }

    .avatar-name {
        font-size: 15px;
        font-weight: 500;
        color: #333;
        margin-top: 15px;
    }
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 991px) {
}

@media screen and (max-width: 767px) {

    .my-account .account-title-head {
        font-size: 18px !important;
        margin-bottom: 15px !important;
    }

    .my-account .account-body {
        padding: 80px 10px 40px 10px !important;
    }
}

@media screen and (max-width: 575px) {
    .product-title {
        font-size: 20px !important;
        text-align: center !important;
    }
}
