﻿<div class="main-footer">
    <!--learn more about basils coins-->
    <div class="hb-left-content d-flex d-md-none">
        <h5 style="color:#27AE60;">Basils Coins</h5>
        <h5 class="mb-3">Coin Collector's Shop</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <button class="btn">Learn more</button>
    </div>
    <!--payment methods / verified-->
    <div class="max-setter-container payment-verified">
        <div class="max-setter">
            <div class="row m-0">
                <div class="col-md-6 row m-0 p-0">
                    <div class="col-12 p-1 pv-title">Payment methods</div>
                    <div class="col-3 p-1"><img src="../Assets/Images/Footer/visa_logo.png" /></div>
                    <div class="col-3 p-1"><img src="../Assets/Images/Footer/mastercard_logo.png" style="transform: scale(.55);" /></div>
                    <div class="col-3 p-1"><img src="../Assets/Images/Footer/paypal_logo.png" style="transform: scale(.55);" /></div>
                </div>
                <div class="col-md-6 row m-0 p-0">
                    <div class="col-12 p-1 pv-title">Verified by</div>
                    <div class="col-3 p-1"><img src="../Assets/Images/Footer/bbb_logo.png" /></div>
                </div>
            </div>
        </div>
    </div>
    <!--footer-->
    <div class="max-setter-container m-footer">
        <div class="max-setter">
            <div class="m-footer-overlay"></div>
            <div class="row m-0" style="position:relative;">
                <div class="col-lg-4 col-md-6">
                    <h5>Basils Coins</h5>
                    <p class="mb-4 w-75">Lorem ipsum dolor sit amet, consectet lorem execusat and ipsum dolor.</p>

                    <p>991 Victoria Street North</p>
                    <p>Kitchener, Ontario, Canada</p>
                    <p class="mb-4">N2B 3C7</p>

                    <p>Tel: 519-579-9302</p>
                    <p>Fax: 519-579-0532</p>
                    <p class="mb-3">info@basilscoins.com</p>
                </div>
                <div class="col-lg-4 col-md-6">
                    <p>About Us</p>
                    <p>Privay Policy</p>
                    <p>Terms of Sale</p>
                    <p class="mb-4">Shipping Information</p>

                    <p>Store Hours:</p>
                    <p>Mon - Fri: 9:30am - 4:30pm</p>
                    <p>Sat: 11:00am - 5:00pm</p>
                    <p class="mb-4">Sun: Closed</p>
                </div>
                <div class="col-lg-4 col-md-6">
                    <p>Follow us on:</p>
                    <p><i class="fab fa-facebook"></i> Facebook</p>
                    <p><i class="fab fa-twitter"></i> Twitter</p>
                    <p class="mb-4"><i class="fab fa-instagram"></i> Instagram</p>
                </div>
            </div>
        </div>
    </div>
</div>