﻿<div id="overlay-container" class="overlayContainer" data-ng-transclude>
    <div class="loader">
        <div class="d-flex flex-column align-items-center">
            <img src="../Assets/Images/animated_coin.gif" />
            <p>Please wait...</p>
        </div>
    </div>
</div>